@page "/"
@inject NavigationManager NavigationManager
@inject IPlayerService PlayerService
@using Shmear2.Business.Database.Models
@using Shmear2.Business.Services

<PageTitle>Play Shmear</PageTitle>

<h2>Play Shmear</h2>
<p>SHALL WE PLAY A GAME?</p>
<div>
    <div class="form-group">
        @* <input name="name" type="text" placeholder="Enter your name..." @ref="nameReference" /> *@
        <input name="name" type="text" placeholder="Enter your name..." @ref="nameReference" @bind-value="@name" />
    </div>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Start">Start</button>
    </div>
</div>

@code {

    private ElementReference nameReference;
    string name;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await nameReference.FocusAsync();
        }
    }

    public async Task Start()
    {
        NavigationManager.NavigateTo($"/Shmear/{name}");
    }
}
