@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
    @*<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>*@
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" />*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div style="margin-left:10%">
        @RenderBody()
    </div>
</body>
</html>
